<!doctype html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
  <link href="{{ url_for('static', filename='piano.css') }}" rel="stylesheet">
  <title>Piano</title>
  </head>
  <body>
    <div class="error">
      <span> ❌ 가로모드를 권장합니다 ❌</span>
    </div>
    <div class="back">
      <input type="button" value="돌아가기" onclick="location.href='/menuSelect'">
    </div>
    <div class="piano">
      <button class="white-key C4-key">
        <div class="box">Q</div>
      </button>
      <button class="black-key Db4-key">
        <div class="box">2</div>
      </button>
      <button class="white-key D4-key">
        <div class="box">W</div>
      </button>
      <button class="black-key Eb4-key">
        <div class="box">3</div>
      </button>
      <button class="white-key E4-key">
        <div class="box">E</div>
      </button>
      <button class="white-key F4-key">
        <div class="box">R</div>
      </button>
      <button class="black-key Gb4-key">
        <div class="box">5</div>
      </button>
      <button class="white-key G4-key">
        <div class="box">T</div>
      </button>
      <button class="black-key Ab4-key">
        <div class="box">6</div>
      </button>
      <button class="white-key A4-key">
        <div class="box">Y</div>
      </button>
      <button class="black-key Bb4-key">
        <div class="box">7</div>
      </button>
      <button class="white-key B4-key">
        <div class="box">U</div>
      </button>
      <button class="white-key C5-key">
        <div class="box">I</div>
      </button>
      <button class="black-key Db5-key">
        <div class="box">9</div>
      </button>
      <button class="white-key D5-key">
        <div class="box">O</div>
      </button>
      <button class="black-key Eb5-key">
        <div class="box">0</div>
      </button>
      <button class="white-key E5-key">
        <div class="box">P</div>
      </button>
    </div>
    <script src="{{ url_for('static', filename='piano.js') }}" > </script>
  </body>
</html>