html {
  position: fixed;
  margin: 0;
  width: 1920px;
  height: 967px;
  background-color: rgb(25, 24, 27);
}

body {
  margin: 0;
  background-image: url(image/image2.jpg);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.error {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: yellow;
  font-family: 'Noto Sans KR', sans-serif;
  background-image: url(image/main_bg.jpg);
  background-size: cover;
  justify-content: center;
  align-items: center;
  z-index: 54;
}

.error span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  display: flex;
  justify-content: space-between;
}

.back input {
  border-radius: 5px;
}

.input1, .input2 {
  height: 80px;
  width: 200px;
  box-shadow:
    5px 0 15px rgba(255, 255, 255, 0.5),
    10px 0 30px rgba(70, 70, 70, 0.12);
  border: 8px solid #ececec;
  border-radius: 15px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  font-weight: 600;
  color: #15e38a;
}

.input1 {
  margin: 10px auto 10px 10px;
}

.input2 {
  margin: 10px 10px 10px auto;
}

input:hover{
  box-shadow:
  -10px 0 15px rgba(255, 255, 255, 0.5),
  10px 10px 15px rgba(70, 70, 70, 0.12),
  inset -10px -10px 15px rgba(255, 255, 255, 0.5),
  inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  color: aqua;
}

.container {
  display: none;
  margin-top: 88px;
  width: 1500px;
  height: 900px;
  background-image: url(image/image3.jpg);
  background-repeat: no-repeat;
  z-index: 3;
}

.input1:hover  + .container {
  display: block;
}

.box {
  font-size: 30px;
  font-weight: 500;
  color: aqua
}

button.drumA.active {
  animation: burr .1s infinite;
}

@keyframes burr {
  from {
    left:348px;
  }
  to{
    left:350px;
  }
}

.drum .drumA {
  position: absolute;
  left: 350px;
  top: 383px;
  border-radius: 100%;
  border: 0;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
}

.drumA .wordA {
  background-color: gold;
  color: blue;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.drumW.active {
  animation: burr2 .1s infinite;
}

@keyframes burr2 {
  from {
    left:512px;
  }
  to{
    left:514px;
  }
}

.drum .drumW {
  position: absolute;
  left: 514px;
  top: 128px;
  border-radius: 100%;
  border: 0;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
}

.drumW .wordW {
  background-color: gold;
  color: blue;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.drumS.active {
  animation: burr3 .1s infinite;
}

@keyframes burr3 {
  from {
    left:586px;
  }
  to{
    left:588px;
  }
}

.drum .drumS {
  position: absolute;
  left: 588px;
  top: 448px;
  border-radius: 100%;
  border: 0;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
}

.drumS .wordS {
  background-color: gray;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.drumE.active {
  animation: burr4 .1s infinite;
}

@keyframes burr4 {
  from {
    left:718px;
  }
  to{
    left:720px;
  }
}

.drum .drumE {
  position: absolute;
  left: 720px;
  top: 180px;
  border-radius: 100%;
  border: 0;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
}

.drumE .wordE {
  background-color: gray;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.drumF.active {
  animation: burr5 .1s infinite;
}

@keyframes burr5 {
  from {
    left:854px;
  }
  to{
    left:856px;
  }
}

.drum .drumF {
  position: absolute;
  left: 856px;
  top: 370px;
  border-radius: 100%;
  border: 0;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
}

.drumF .wordF {
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.drumU.active {
  animation: burr6 .1s infinite;
}

@keyframes burr6 {
  from {
    left:998px;
  }
  to{
    left:1000px;
  }
}

.drum .drumU {
  position: absolute;
  left: 1000px;
  top: 180px;
  border-radius: 100%;
  border: 0;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
}

.drumU .wordU {
  background-color: gray;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.drumK.active {
  animation: burr7 .1s infinite;
}

@keyframes burr7 {
  from {
    left:1163px;
  }
  to{
    left:1165px;
  }
}

.drum .drumK {
  position: absolute;
  left: 1165px;
  top: 440px;
  border-radius: 100%;
  border: 0;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
}

.drumK .wordK {
  background-color: gray;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.drumO.active {
  animation: burr8 .1s infinite;
}

@keyframes burr8 {
  from {
    left:1278px;
  }
  to{
    left:1280px;
  }
}

.drum .drumO {
  position: absolute;
  left: 1280px;
  top: 165px;
  border-radius: 100%;
  border: 0;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
}

.drumO .wordO {
  background-color: gold;
  color: blue;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media all and (orientation : Portrait) {
  .error {
    display: block;
  }
}

@media all and (max-width: 900px) {
  .error {
    font-size: 25px;
  }
  
  html {
    width: 700px;
    height: 300px;
  }
  
  .input1, .input2 {
    height: 35px;
    width: 80px;
    font-size: 15px;
  }

  .container {
    margin-top: 45px;
    width: 560px;
    height: 380px;
    background-size: contain;
  }

  .box {
    font-size: 10px;
    font-weight: 600;
    color: aqua
  }

  .drum .drumA {
    left: 154px;
    top: 140px;
    width: 20px;
    height: 20px;
    background-color: red;
  }

  .drumA .wordA {
    width: 20px;
    height: 20px;
  }

  @keyframes burr {
    from {
      left:153px;
    }
    to{
      left:154px;
    }
  }

  .drum .drumW {
    left: 214px;
    top: 47px;
    width: 20px;
    height: 20px;
  }

  .drumW .wordW {
    width: 20px;
    height: 20px;
  }

  @keyframes burr2 {
    from {
      left:213px;
    }
    to{
      left:214px;
    }
  }

  .drum .drumS {
    left: 241px;
    top: 165px;
    width: 20px;
    height: 20px;
  }

  .drumS .wordS {
    width: 20px;
    height: 20px;
  }

  @keyframes burr3 {
    from {
      left:240px;
    }
    to{
      left:241px;
    }
  }

  .drum .drumE {
    left: 288px;
    top: 66px;
    width: 20px;
    height: 20px;
  }

  .drumE .wordE {
    width: 20px;
    height: 20px;
  }

  @keyframes burr4 {
    from {
      left:287px;
    }
    to{
      left:288px;
    }
  }

  .drum .drumF {
    left: 340px;
    top: 135px;
    width: 20px;
    height: 20px;
  }

  .drumF .wordF {
    width: 20px;
    height: 20px;
  }

  @keyframes burr5 {
    from {
      left:339px;
    }
    to{
      left:340px;
    }
  }

  .drum .drumU {
    left: 390px;
    top: 66px;
    width: 20px;
    height: 20px;
  }

  .drumU .wordU {
    width: 20px;
    height: 20px;
  }
  
  @keyframes burr6 {
    from {
      left:389px;
    }
    to{
      left:390px;
    }
  }
  .drum .drumK {
      left: 450px;
      top: 160px;
      width: 20px;
      height: 20px;
  }

  .drumK .wordK {
    width: 20px;
    height: 20px;
  }

  @keyframes burr7 {
      from {
        left:449px;
      }
      to{
        left:450px;
      }
    }

  .drum .drumO {
    left: 493px;
    top: 60px;
    width: 20px;
    height: 20px;
  }

  .drumO .wordO {
    width: 20px;
    height: 20px;
  }

  @keyframes burr8 {
    from {
      left:492px;
    }
    to{
      left:493px;
    }
  }
}




