:root {
  --clr-neon: hsl(317 0% 100%);
  --clr-bg: hsl(323 0% 50%);
}

* {
  box-sizing: border-box;
} 

.error {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: yellow;
  font-family: 'Noto Sans KR', sans-serif;
  background-image: url(image/main_bg.jpg);
  background-size: cover;
  justify-content: center;
  align-items: center;
  z-index: 54;
}

.error span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  width: 100vw;
  background-size: cover;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Balsamiq Sans", cursive;
  color: var(--clr-neon);
}

.loading_container {
  width: 100%;
  height: 100vh;
  background-image : url(image/main_bg.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

i {
  font-size: 70px;
  color: blue;
  border-radius: 100%;
  border-top-color: transparent;
  animation: loader 3s linear infinite;
}

@keyframes loader{
  25% {
      color: rgb(255, 0, 0);
  }
  50% {
      color: rgb(0, 255, 0);
  }
  
  75% {
    color: white;
  }
}

.character_container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url(image/main_bg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.character_container span {
  font-size: 200px;
  color: white;
  animation: title 10s linear;
  animation-iteration-count: 1;
  font-family: 'Niconne', cursive;
  font-weight: 500;
}

@keyframes title {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.neon-button {
  font-size: 4rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
  margin-bottom: 50px;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 0.1s linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}


@media all and (orientation : Portrait) {
  .error {
    display: block;
  }
}

@media all and (max-width: 900px) {
  .error {
    font-size: 25px;
  }
  
  .character_container span {
    font-size: 100px;
  }

  .neon-button { 
    font-size: 2rem;
  }

  i {
    font-size: 30px;
  }
}
